# .dockerignore

# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore NuGet packages
**/packages/

# Ignore user-specific files
**/.user
**/.vs/
**/.vscode/

# Ignore Git directory
.git/
.gitignore

# Ignore Docker files (optional, since we're specifying Dockerfile)
Dockerfile.*

# Ignore logs
*.log

# Ignore environment files
.env
